/* Main settings*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

}

body {

    background: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: ChapeauMedium,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight:"light";
    font-size:18px;
}




#theory p, #theory h1,#theory h2,#theory h3, #theory li,#theory th,#theory td, #theory .quote{
/*font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;*/
font-family:SuisseNeueLight,SuisseNeue-Regular,Times,serif;;
}

#casestudies p,#casestudies h1,#casestudies h2,#casestudies h3,#casestudies li,#casestudies th,#casestudies td,#casestudies div, .quote{
   /*font-family: ChapeauMedium,Helvetica Neue,Helvetica,Arial,sans-serif;*/
    font-weight:"light";    
}
/*
#panes-separator h1{
    color:yellow;
}*/

h2 {
    /*font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;*/
    font-size: 40px;
    height:100%;
    margin-top:30px;
    margin-bottom: 5vh;
    text-align: center;
}

.quote {
   /* font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;*/
    font-size:1.8vw;
/*    font-weight: bold;*/
    text-align: left;
    margin: 1em;
}

/*naam casestudies*/
h4{
    margin-bottom: 5vh;
    text-align:center;
}

p {
    margin-bottom:12px;
}

#theory p{
    font-size: 20px;
    line-height:150%;
}

#casestudies p{
    font-size:17px;
    line-height:180%;
}

a{
    text-decoration: none;
}

a:hover{
    color:pink;
}

a:visited{
    color:black;
    text-decoration: none;
}

/*ordered list on line 197 theory*/
ul,ol { 
/*    list-style-type: none;*/
margin-bottom: 5vh;
}

li {
    padding-left:0;
    margin-top: 10px; 
/*    font-size: 12px;  */ 
}

table{
    margin-bottom: 5vh;
}

th {
    text-align: left;
}

.chapter{
    margin-top:10vh;
}
.quote {
    font-style:italic;
/*    margin-bottom:12px;*/
}

.quote:hover{
    cursor:pointer;
}

img {
  
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .4s ease-in-out;  
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

/*MENU*/

#menu ul { 
    display: none; 
}

#menu h2{
    text-align:center;
}
#menu h2:hover{
    color:grey;
    cursor: pointer;
}

.submenu li:hover{
color:grey;
    cursor: pointer;
}

.submenu {
  width:30vw;
}

.submenu li{
    font-style: bold;
    font-size: 2vw;
    margin-bottom:20px;
    
}

/*CONTENT*/

#wrapper_intro {
    width: 90vw;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
} 


.abstract{
    padding:20px;
    border:solid 1px; 
    margin-bottom: 2vh;
}

.abstract h2{
    margin-top:5vh;
}

/*eflux*/

.panels {
    width:90vw;
    height:95vh;
    margin:0;
    display: flex;
    overflow: hidden;
}

.panel-container {
    zoom: 1;
    float: left;
        height: 100%;
    width:50vw;

}

.panel-label {
    float: left;
    width: 100%;
/*  */
}

.panel-scrolling-container {
    background-color: white;
    padding-left: 2vw;
    float: left;
    height: 80vh;
    width: 100%;
    position:relative;
/*     overflow: auto;*/
    
}

.panel-scrolling-container img, video {
    width: 100%;
    max-width: 100%;
    display: block;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto; 
}   

.panel-scrolling-area {
    height: 100%;
    overflow:auto;
}


.panel-items {
/*    position: relative;*/
    widows: 60%;
    width: calc(100% - 60px);
     overflow-y: auto;
}



/*splitter*/

.panes-separator {
    background-color: white;
    width: 3vw;
    height:100vh;
    position: relative;
    cursor: col-resize;
}

.panes-separator h1{
    width: 100vh;
    position:relative;
    bottom: 8.8vh; 
    font-size: 5vh;
    line-height: 15pt;
    text-align: right;
    padding-right: 15vh;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




.right-pane {
    width:40vw;
    flex: auto;

}

.left-pane {
    width: 40vw;

}