/* Main settings*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

}

body {
    background-color: white;
/*  background: rgb(249,244,233);*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: ChapeauMedium,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight:"light";
    font-size:18px;
    overflow:hidden;

}




#theory p, #theory h1,#theory h2,#theory h3, #theory li,#theory th,#theory td, #theory .quote{
/*font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;*/
font-family:SuisseNeueLight,SuisseNeue-Regular,Times,serif;
}

#casestudies p,#casestudies h1,#casestudies h2,#casestudies h3,#casestudies li,#casestudies th,#casestudies td,#casestudies div, .quote{
    font-weight:"light";    
}


/*Hoofdstukken*/
h2 {
    font-size: 40px;
    height:100%;
    margin-top:30px;
    margin-bottom: 5vh;
    text-align: center;
}


/*naam casestudies*/
h4{
    margin-bottom: 5vh;
    text-align:center;
    font-size:30px;
}

.quote {
    font-size:1.8vw;
    text-align: left;
    margin: 1em;
}


p {
    margin-bottom:12px;
}

#theory p{
    font-size: 20px;
    line-height:150%;
}

#casestudies p{
    font-size:17px;
    line-height:180%;
}


/*ordered list on line 197 theory*/
ul,ol { 
    margin-bottom: 5vh;
}

li {
    padding-left:0;
    margin-top: 10px;  
}

table{
    margin-bottom: 5vh;
}

th {
    text-align: left;
}


.quote {
    font-style:italic;
/*    margin-bottom:12px;*/
}

.quote:hover{
    cursor:pointer;
}

img, video{
  
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .4s ease-in-out;  
}

img:hover, video:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}


/*CONTENT*/

#wrapper_intro {
    width: 90vw;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
} 

.title{
    color:red;
    float:left;
    position:absolute;
    text-align: left;
    margin-top: 30px;
    margin-left:20px;
    z-index:-1;
}

.credits{
    color:red;
    width:85vw;
    float:right;
    position:absolute;
    text-align: right;
    margin-top: 30px;
    margin-left:20px;
    z-index:-1;

}


.abstract{
    padding:30px;
    margin-bottom: 20vh;
    border-bottom: 4px solid red;
}

.abstract h2, .abstract-2 h2{
    margin-top:5vh;
}

.abstract-2{
    padding:30px;
    margin-bottom: 70vh;
    border-bottom: 4px solid red;
}



/*.abstract:hover{
    color:red;
    -webkit-transition: all .4s ease-in-out; 
}*/
/*eflux*/

.panels {
    width:90vw;
    height:95vh;
    margin:0;
    display: flex;
    overflow: hidden;
}

.panel-container {
    zoom: 1;
    float: left;
        height: 100%;
    width:50vw;
}

.right-pane {
    width:50vw;
    flex: auto;

}

.left-pane {
    width: 50vw;

}

.panel-label {
    float: left;
    width: 100%;
}

#chapter{
    background-color: white;
    width:20vw;
    margin:0 auto;

}


.panel-scrolling-container {
    margin-left: 20px;
    float: left;
    height: 90vh;
    width: 100%;
    position:relative;
    overflow-y:auto;
    
}

.panel-scrolling-container img, video {
    width: 100%;
    max-width: 100%;
    display: block;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto; 
}   

.panel-scrolling-area {
    height: 100%;
   
}


.panel-items {
/*    position: relative;*/
    widows: 60%;
    width: calc(100% - 50px);
 
}



/*splitter*/

.panes-separator {
    background-color: white;
    width: 3vw;
    height:100vh;
    position: relative;
    cursor: col-resize;
}

.panes-separator h4{
    width: 100vh;
    position:relative;
    bottom: 8.8vh; 
/*    font-size: 18px;*/
/*    line-height: 15pt;*/
    text-align: right;
    padding-right: 30vh;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


