/*! CSS */

* {
	padding:0; 
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:normal;
}

html, body
{
	
}

body
{
	position:relative;
	font-size:14px;
	color:#666;
}

a {text-decoration: none;}

a:hover{
	cursor: pointer;
}
h1{
	font-size:60px;
	color:black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


